<h2>Edit <%=@box.name.capitalize%> Box</h2>

<form action="/boxes/<%=@box.id%>" method="POST">
    <input type="hidden" name="_method" value="PATCH">

    <label for="name">Name:</label>
    <input type="name" name="user[name]" id="name" value="<%=@box.name.capitalize%>"><br>

    <input type="submit" Value="Edit Box">
</form>

<form action="/boxes/<%=@box.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Box">
</form>