<div class="reroute-text">
    <h2>Create New Item</h2>

    <form action="/items" method="POST">

        <label for="name">Name:</label>
        <input type="name" name="name" id="name"><br><br>

        <label>Box: </label>
        <select name="box_id">
            <%current_user.boxes.each do |box|%>
                <option value="<%=box.id%>"><%=box.name.capitalize%></option><br>
            <%end%>
        </select><br><br>  

        <label>Category: </label>
        <select name="category_id">
            <%current_user.categories.each do |category|%>
                <option value="<%=category.id%>"><%=category.name.capitalize%></option><br>
            <%end%>
        </select><br><br><br>
        
        <input type="submit" value="Create Item">
    </form>
</div>