<div class="reroute-text">
<h2>Create a New Category for Your Items</h2>

<form action="/categories" method="POST">

    <label for="name">Name:</label>
    <input type="name" name="name" id="name"><br><br><br>

    <input type="submit" value="Create Category">
</form>
</div>