<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <br><h2>Welcome to EZ-Move</h2>

    <div class="content">
      <p>Make your next move your easiest!</p>
      <p>Moving to a place can be exciting. And then there is the actual process of moving, 
      which is not as fun to think about.</p>

      </p>This app will take the dread out of packing and unpacking your life so you can 
      make your new house, your new home, in no time!</p>
    </div>

    <div class="sidebar">
      <div class="boxes">
        <img src="/images/moving-truck.png" alt="moving-truck" width="200" height="200">
      </div>
    </div>

  </div>
</div>